@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Donation Management System</h1>
    <a asp-controller="Donation"  asp-action="AddDonation" class="btn btn-success">Add New Donation</a>
    <a asp-controller="Donation" asp-action="GetAllDonation" class="btn btn-success">Donation List</a>


</div>
